
.cards{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-top: 20%;
}

.cards__item{
    /* width: 50px;*/
    height: 200px; 
    flex-basis: 20%;
    padding-left: 8px;
    padding-right: 8px;
    background-color: lightslategray;
}
