
.cards{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cards__item{
    flex-basis: 25%;
    padding-left: 8px;
    padding-right: 8px;
    background-color: lightslategray;
}
