.container{
    display: flex;
    flex-direction: column;
    }
    .container__main{
        /* Take the remaining height */
        flex-grow: 1;

        /*  Layout the left sidebar, main content and right sidebar */
        display: flex;
        
    }